<ion-header>
  <ion-slides pager="true" scroll-y="false">
    <ion-slide>
      <img src="assets/banner/banner01.jpg" class="gambar-content" alt="" />
    </ion-slide>
    <ion-slide>
      <img
        src="assets/img/img-promo-dami-03.jpg"
        class="gambar-content"
        alt=""
      />
    </ion-slide>
    <ion-slide>
      <img
        src="assets/img/img-promo-dami-02.jpg"
        class="gambar-content"
        alt=""
      />
    </ion-slide>
  </ion-slides>
  <ion-toolbar color="primary" class="ion-toolbar-header">
    <div class="ion-text-center ion-padding">
      Aplikasi Pemesanan <br />
      Makanan & Jasa Kurir <br />
      Kota Karawang
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <ion-button (click)="onClick()" expand="block" color="primary">
          Pesan <br />
          Makanan
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="onClick()" expand="block" color="primary">
          Kirim <br />
          Barang
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="onClick()" expand="block" color="primary">
          Percetakan
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Bere Gambar | Siap dahhh!</ion-title>
  </ion-toolbar>
</ion-footer>
