<ion-content>
  <div class="gambar-header">
    <img src="assets/banner/banner01.jpg" alt="" />
  </div>
  <ion-toolbar color="primary">
    <div class="ion-text-center ion-padding">
      Aplikasi Pemesanan <br />
      Makanan & Jasa Kurir <br />
      Kota Karawang
    </div>
  </ion-toolbar>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-button (click)="onClick()" expand="block" color="primary">
          Pesan <br />
          Makanan
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="onClick()" expand="block" color="primary">
          Kirim <br />
          Barang
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="onClick()" expand="block" color="primary">
          Percetakan
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <div class="isi-content">
        <hr color="primary" />
        <div class="gambar-content">
          <img src="assets/img/img-promo-dami-01.jpg" alt="" />
        </div>
        <hr color="primary" />
      </div>
      <div class="isi-content">
        <hr color="primary" />
        <div class="gambar-content">
          <img src="assets/img/img-promo-dami-03.jpg" alt="" />
        </div>
        <hr color="primary" />
      </div>
      <div class="isi-content">
        <hr color="primary" />
        <div class="gambar-content">
          <img src="assets/img/img-promo-dami-02.jpg" alt="" />
        </div>
        <hr color="primary" />
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
